<div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <h2 class="text-2xl font-bold text-gray-800 mb-4">{{ reponses.titre }}</h2>

  <div class="mb-4 space-y-2">
    <p class="text-gray-700"><strong>📚 Matière :</strong> {{ reponses.matiere }}</p>
    <p class="text-gray-700"><strong>👨‍🎓 Étudiant :</strong> {{ reponses.prenom }} {{ reponses.nom }}</p>
    <p class="text-gray-700"><strong>🏫 Classe :</strong> {{ reponses.classe }}</p>
    <p class="text-gray-700"><strong>📅 Date de soumission :</strong> {{`${reponses.date_soumission}` | date:'dd/MM/yyyy à HH:mm' }}</p>
    <p class="text-gray-700"><strong>📊 Barème :</strong> {{ reponses.bareme }}</p>
    <p class="text-gray-700"><strong>🏆 Note finale  :  </strong> 
      <span class="text-xl font-bold text-blue-600">{{ note }}/{{reponses.bareme}} =>   {{  reponses.note}}/20 </span>
    </p>
  </div>

  <div class="mt-6">
    <h3 class="text-lg font-semibold text-gray-800">📝 Réponses aux questions</h3>
    <div *ngFor="let rep of reponses.reponses_questions" class="bg-gray-100 p-4 rounded-lg my-3">
      <p class="text-gray-800"><strong>❓ Question :</strong> {{ rep.question }}</p>
      <p class="text-gray-700"><strong>✅ Réponse :</strong> {{ rep.reponse }}</p>
      <p class="text-gray-700"><strong>📏 Barème :</strong> {{ rep.bareme }}</p>
      <p class="text-gray-700"><strong>🏆 Note obtenue :</strong> 
        <span class="text-green-600 font-bold">{{ rep.note }}/{{ rep.bareme }}</span>
      </p>
    </div>
  </div>
</div>
