<div class="flex flex-col h-screen ">
  <app-header class="w-full z-50 b"></app-header>

  <!-- BODY PRENANT TOUT L'ESPACE RESTANT -->
  <div class="flex-1 overflow-auto ">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <div class="flex justify-between items-center h-full">fixed top-0 left-0
  <div class="w-1/5 p-4 bg-blue-500 text-white text-center ">
    <app-nav></app-nav>
  </div>
  <div class="w-1/1 p-4 bg-green-500 text-white text-center">
    <router-outlet></router-outlet>
  </div>
</div> 
<app-footer></app-footer>-->
